body {background-color: #86758d}

.text-box {
    background-color: #e1d6e6;
    color: black;
    font-family:'Courier New';
    margin: 0;
    position: fixed;
    width: 40%;
    padding: 14px;
   
}