body {background-color: #86758d}
.dropbtn {
    background-color: #fdd9a9;
    color: black;
    padding: 16px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #fdd9a9}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    overflow: auto;

  }

  .dropdown-content a{
    color: black;
    background-color: #fdd9a9;
    padding: 12px 16px;
    text-decoration:none;
    display: block;
  }

  .show {display:block;}