body {background-color: #86758d}
.dropbtn {
    background-color: #fdd9a9;
    color: black;
    padding: 16px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    font-family: "Roboto Mono";

}

.dropbtn:hover, .dropbtn:focus {
    background-color: #fdd9a9}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-color: black;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    overflow: auto;
    font-size: 15px;
    
  }

  .dropdown-content a{
    color: black;
    background-color: #fdd9a9;
    padding: 12px 16px;
    font-size: 15px;
    display: block;
  }

  .show {display:block;}