body {background-color: #b9c32f}

.text-box {
    background-color: #ffffff;
    color: #b9c32f;
    font-family:'Courier New';
    margin: 0;
    position: absolute;
    width: 40%;
    padding: 25px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 16px 24px 0px rgba(0,0,0,0.2);
    border: 2px solid #e3718b;
}