body {background-color: #86758d}

.text-box {
    background-color: #e1d6e6;
    color: black;
    font-family:'Courier New';
    margin: 0;
    position: absolute;
    width: 40%;
    padding: 14px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}